<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.8.4"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.8.4">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.90">
    <script>pipeline {
    agent {node {label &apos;jenkins-slave&apos;}}

    stages {
        stage (&apos;Checkout project repository&apos;) {
            steps {
                git branch: &apos;main&apos;, url: &apos;https://github.com/artsiompeshko/java-build-tools.git&apos;
            }
        }
        stage (&apos;Execute unit tests&apos;) {
            when {
                expression {
                    currentBuild.result == null || currentBuild.result == &apos;SUCCESS&apos;
                }
            }
            steps {
                sh &apos;chmod +x gradlew&apos;
                sh &apos;./gradlew test&apos;
            }
        }
        stage (&apos;Prepare build artifact&apos;) {
            steps {
                sh &apos;./gradlew build&apos;
                stash includes: &apos;**&apos;, name: &apos;build_app&apos;
            }
        }
        stage (&apos;Build&apos;) {
            agent {node {label &apos;jenkins-artifactory&apos;}}
            steps {
                dir(&apos;/home/jenkins&apos;){
                unstash &apos;build_app&apos;
                sh &apos;./gradlew appRun&apos;
                }
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>